/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, 
body{
  height:100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font:inherit;
}


:root{
  --white:#FFFFFF;
  --black:#0B0D0F;
  --primary-color1:#2E86C1;
  --lightgrey:#E0E0E0;
  --darkgrey:#333333;
  --heading-font: 'Montserrat', sans-serif;
  --body-font:'Open Sans', sans-serif;
  --fw-thin:300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}


/* HEADER & NAVIGATION STYLING */
header{
  background-color: var(--lightgrey);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--heading-font);
  position: relative;
}

header > nav > ul > li {
  position: relative;
  float: left;
}

header > nav > ul > li > a {
  padding: 20px;
  display: block;
  color: var(--black);
}

header > nav > ul > li > a:hover{
  background: var(--primary-color1);
  color: var(--lightgrey);
  transition: all 0.3s ease 0s; /* smooth transition */
}

header .navbar > ul > li > ul{
  position: absolute;
  left:0;
  width:200px;
  background: var(--lightgrey);
  display:none;  
}

header .navbar > ul > li > ul > li {
  width:100%;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 18px;
}
header .navbar > ul > li > ul > li  > a {
  color: var(--black);
}

header .navbar > ul > li > ul > li:hover{
  background: var(--primary-color1);
  color: var(--white);
  transition: all 0.3s ease 0s; /* smooth transition */
}

header .navbar > ul > li > ul > li > ul {
  left:200px;
  top:0;
}

header .navbar > ul > li:hover > ul{
  display: initial;
  transition: all 0.3s ease 0s; /* smooth transition */
}

#nav-header{
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  color:var(--black);
  font-family: var(--heading-font);
  margin-left: -12px;
}

header > a > h2 > span{
  color:var(--primary-color1)
}

.cta-button{
  background-color: var(--primary-color1);
  font-family: var(--heading-font);
  padding: 9px 30px;
  border-radius: 50px;
  color: var(--white);
  border-style: none;
  border-color: var(--black);
  text-align: center;
  margin-top: 12px;
  align-self: left;
  margin-left: 15px;
}

.cta-button:hover{
  color: var(--lightgrey );
  background-color: var(--black);
  transform: scale(1.1);
  transition: all 0.3s ease 0s; /* smooth transition */
}

/* LANDING PAGE STYLING */

#flex-container{
  height:90vh;
  position: relative;
  color: var(--black);
  background: var(--lightgrey);
}

#landing-page-cta-text{
  padding: 6px;
  max-width: 50%;
  position: absolute;
  left:6%;
  bottom: 32%;
}

#flex-container > #landing-page-cta-text > button{
  margin-left: auto;
  margin-top: 7px;
}


#flex-container > #landing-page-cta-text > h2 > span{
  color:var(--primary-color1)
}

#flex-container > #landing-page-cta-text > h2 {
   font-family: var(--heading-font);
   font-weight: var(--fw-bold);
   font-size: 30px;
   line-height: 1.2;
   padding-bottom: 4px;
}

#flex-container > #landing-page-cta-text > p{
  font-family: var(--body-font);
  font-weight: var(--fw-regular);
  font-size: smaller;
  padding: 5px;
  line-height: 2;
}

#landing-page-cta-text{
  justify-self: flex-start;
  align-self: baseline;
}

#donut-chart-illustration {
  float: right;
  bottom: 40%;
  width: 33%;
  height: 75%;
  margin-top: 35px;
  margin-right:85px;
  padding: 6px;
}

#donut-chart-illustration > h3 {
  font-family: var(--heading-font);
  font-weight: 200;
  color: var(--darkgrey);
  text-align: center;
  padding: 1px;
}
